.common-button {
  text-align: left;
  margin: 0;
  width: 23.2vw;
  padding-left: 1.04166667vw;
  padding-bottom: 1.04166667vw; 
  padding-top: 2.08333vw;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.04166667vw;

  @media (max-width: 425px) {
    width: 100%;
    font-size: 4.26667vw;
    padding-top: 8vw;
    padding-left: 5.3333vw;
    padding-bottom: 5.3333vw;
  }
}

.reversed {
  border: 5px solid #000;
  background-color: #fff;
  color: #000;

  &:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }
}

.basic {
  border: 5px solid #fff;
  background-color: #000;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}