.common-button {
  text-align: left;
  margin: 0;
  width: 23.2vw;
  padding-left: 1.04166667vw;
  padding-bottom: 1.04166667vw;
  padding-top: 2.08333vw;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;

  @media (max-width: 600px) {
    width: 100%;
    padding-top: 8vw;
    padding-left: 5.3333vw;
    padding-bottom: 5.3333vw;
  }

  @media (min-width: 601px) and (max-width: 1023px) {
    width: 43.489vw;
    padding-top: 5.2083vw;
    padding-left: 2.604vw;
    padding-bottom: 2.604vw;
  }
}

.reversed {
  border: 5px solid #000;
  background-color: #fff;
  color: #000;

  &:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }
}

.basic {
  border: 5px solid #fff;
  background-color: #000;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}
