.social-media {
    margin-left: auto;
    display: flex;
    flex-direction: row;

  &__icon {
    max-width: 2.5vw;
    max-height: 2.5vw;
    padding-left: 2.96875vw;
    padding-right: 2.96875vw;
  }

  @media (max-width: 425px) {
    &__content {
      padding: 6.667vw 5.3333vw 6.667vw 5.3333vw;
      width: 100%;
      box-sizing: border-box;
    }

    &__caption {
      font-size: 25px;
    }

    &__medias {
      display: none;
    }
  }
}
