.footer-container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #fff;

  .footer-caption {
    color: #000;
    font-size: 20px;
    font-weight: bold;

    &__wrapper {
      width: 73.856vw;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2.08333333333vw;
      padding-bottom: 6.25vw;

      &__content {
        display: flex;
        flex-direction: row;
        margin-top: 0.52083vw;

        &--item {
          color: #000;
          font-size: 18px;
          text-decoration: none;
        }

        &--right {
          margin-left: auto;
          margin-right: 0;
          flex-direction: column;
          display: flex;
          text-align: right;

          &__item {
            color: #000;
            font-size: 18px;
            margin-bottom: 2px;
            text-decoration: none;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    box-sizing: border-box;
    padding-left: 5.333vw;
    padding-right: 5.333vw;

    .footer-caption {
      &__wrapper {
        width: 100%;
        padding-top: 5.333vw;
        padding-bottom: 9.066vw;

        &__content {
          margin-top: 2.667vw;

          &--right {
            &__item {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 601px) and (max-width: 1023px) {
    padding-left: 5.2083vw;
    padding-right: 5.2083vw;
    width: 100%;
    box-sizing: border-box;

    .footer-caption {
      color: #000;
      font-size: 18px;
      font-weight: bold;

      &__wrapper {
        width: 100%;
        padding-top: 5.2083vw;
        padding-bottom: 10.4167vw;

        &__content {
          margin-top: 1.302vw;

          &--item {
            font-size: 16px;
          }

          &--right {
            &__item {
              font-size: 16px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}
