.table {
  border: 5px solid #fff;
  width: 100%;
  border-collapse: collapse;

  &__row {
    border: 5px solid #fff;
    height: 4.427083vw;
    vertical-align: bottom;

    &-title {
      font-size: 0.833vw;
      // font-size: 0.9375vw;
      // font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      width: 11.3636vw;
    }

    &-content {
      // font-size: 0.7291667vw;
      font-size: 14px;
    }

    td {
      border: 5px solid #fff;
      border-collapse: separate;
      padding-bottom: 1.041667vw;
      padding-top: 2.0832vw;
      padding-left: 1.041667vw;
      padding-right: 1.823vw;
    }
  }

  @media (max-width: 425px) {
    &__row {
      &-title {
        font-size: 4.26667vw;
        // font-size: 0.9375vw;
        // font-size: 18px;
        width: 11.3636vw;
      }
  
      &-content {
        font-size: 3.7333vw;
        // font-size: 14px;
      }
  
      td {
        padding-bottom: 2.667vw;
        padding-top: 8vw;
        padding-left: 2.667vw;
        padding-right: 1.823vw;
      }
    }
  }
}
