.grid {
  width: 73.856vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10.41667vw;
  margin-top: 10.41667vw;

  &__row {
    &:nth-child(2) {
      margin-top: 2.083vw;
    }

    &--item {
      &:nth-child(2) {
        margin-left: 2.083vw;
        margin-right: 2.083vw;
      }

      width: 23.23vw;
      height: 23.23vw;
    }
  }
}
