.resource-section {
  padding-bottom: 6.25vw;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  &__header {
    margin-top: 6.7708333vw;
    margin-right: auto;
    margin-left: 0;
    background-color: #fff;
    color: #000;
    width: 86.928vw;
    height: auto;
    padding-bottom: 1.0416667vw;
    padding-top: 2.6041667vw;
    text-transform: uppercase;

    &--caption {
      padding-right: 1.0416667vw;
      text-align: right;
      font-weight: bold;
      font-size: 2.0833vw;
      margin-left: auto;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__items {
    width: 73.856vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: auto;

    &--item:last-of-type {
      padding-top: 2.08333vw;
    }

    &::-webkit-scrollbar {
      width: 1em;
      // border: 1px solid #fff;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
    }
  }

  @media (max-width: 425px) {
    padding-bottom: 21.333333vw;

    &__header {
      margin-top: 21.333333vw;
      width: 94.66667vw;
      padding-bottom: 2.6667vw;
      padding-top: 5.3333vw;

      &--caption {
        font-size: 5.3333vw;
        padding-right: 2.6667vw;
      }
    }

    &__items {
      // width: 100%;
      // box-sizing: border-box;
      width: 89.3337vw;
      // padding-left: 5.333vw;
      // padding-right: 5.333vw;
    }
  }
}
