.artwork-data__container {
  padding-top: 1.0416667vw;

  &--item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    &__title {
      display: inline-block;
      margin-right: 10px;
      width: 110px;
      font-weight: bold;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
      align-items: flex-start;
    }

    &__text {
      display: inline-block;
      font-size: 18px;
      margin: 0;
      width: 12.5vw;
    }
  }

  @media (max-width: 425px) {
    padding-top: 5.333vw;

    &--item {
      &__text {
        width: 37.86667vw;
      }
    }
  }
}