.grid-section {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 6.25vw;
  padding-top: 6.25vw;

  &__header {
    margin-right: 0;
    margin-left: auto;
    background-color: #fff;
    color: #000;
    width: 86.928vw;
    height: auto;
    padding-bottom: 1.0416667vw;
    padding-top: 2.6041667vw;
    text-transform: uppercase;

    &--caption {
      padding-left: 1.0416667vw;
      text-align: left;
      font-weight: bold;
      font-size: 2.0833vw;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__content {
    width: 73.856vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &:nth-child(2) {
      margin-top: 2.083vw;
    }

    &--item {
      width: 23.23vw;
      height: 23.23vw;
      object-fit: cover;

      &.margin {
        margin-top: 2.083vw;
      }

      &:hover {
        cursor: pointer;
        webkit-filter: opacity(25%);
        filter: opacity(25%);
      }
    }
  }

  @media (max-width: 425px) {
    padding-bottom: 21.333333vw;
    padding-top: 0;

    &__header {
      width: 94.66667vw;
      padding-bottom: 2.6667vw;
      padding-top: 5.3333vw;
      margin-top: 21.333333vw;

      &--caption {
        font-size: 5.3333vw;
        padding-left: 2.6667vw;
      }
    }

    &__content {
      width: 100%;
      box-sizing: border-box;
      padding-left: 5.3333vw;
      padding-right: 5.3333vw;

      &:nth-child(2) {
        margin-top: 8vw;
      }

      &--item {
        width: 43.2vw;
        height: 43.2vw;
        margin-top: 2.6667vw;
      }
    }
  }
}
