.grid-section {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 6.25vw;
  padding-top: 6.25vw;

  &__content {
    width: 73.856vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &:nth-child(2) {
      margin-top: 2.083vw;
    }

    &--item {
      width: 23.23vw;
      height: 23.23vw;

      &.margin {
        margin-top: 2.083vw;
      }

      &:hover {
        cursor: pointer;
        webkit-filter: opacity(25%);
        filter: opacity(25%);
      }
    }
  }
}
