.quote-frame {
  width: 100%;

  &__photo {
    width: 23.23vw;
    z-index: 50;
    position: relative;
  }

  &__text {
    width: 62.2395833333vw;
    right: 0;
    margin-left: auto;
    z-index: 0;
    position: relative;
    top: -11.6145833333vw;
    border: 5px solid #fff;
    margin-bottom: -11.6145833333vw;

    &-span {
      width: 41.40625vw;
      margin: 5.2083vw 2.0833vw 2.0833vw auto;
      font-style: italic;
      text-justify: none !important;
      text-align: left !important;
      // font-size: 1.82291666667vw !important; // 35px
      font-size: 1.5625vw !important;
    }
  }
}
