.navbar {
  text-align: right;
  display: inline-block;

  &__scroll {
    display: inline-block;

    &--item:hover {
      cursor: pointer;
    }
  }

  &__lang {
    display: inline-block;

    .current {
      font-weight: bold;
    }

    &--item:hover {
      cursor: pointer;
    }
  }

  button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1024px) {
    &__scroll {
      padding-right: 80px;

      &--item {
        margin-right: 20px !important;
        margin-left: 20px !important;
      }
    }

    &__lang {
      &--item:last-child {
        margin-left: 5px !important;
      }

      &--item:first-child {
        margin-right: 5px !important;
      }
    }

    &__scroll--item,
    &__lang--item,
    &__lang--item--divider {
      font-size: 0.9375vw;
      color: #fff;
    }
  }

  @media (max-width: 600px) {
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100vh;
    background-color: #fff;
    z-index: 100;
    transition: top 0.25s ease-in-out;

    &.visible {
      top: 0;
      color: #000 !important;

      &__scroll--item {
        color: #000 !important;
      }
    }

    &__scroll {
      display: flex;
      align-items: center;
      flex-direction: column;

      &--item {
        font-size: 8vw;
        line-height: 2;
      }
    }

    &__lang {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 8vw;

      &--item {
        font-size: 8vw;
        line-height: 2;
      }

      &--item:last-child {
        margin-left: 5px !important;
      }

      &--item:first-child {
        margin-right: 5px !important;
      }
    }
  }

  @media (min-width: 601px) and (max-width: 1023px) {
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100vh;
    background-color: #fff;
    z-index: 100;
    transition: top 0.25s ease-in-out;

    &.visible {
      top: 0;
      color: #000 !important;

      &__scroll--item {
        color: #000 !important;
      }
    }

    &__scroll {
      display: flex;
      align-items: center;
      flex-direction: column;

      &--item {
        font-size: 3.90625vw;
        line-height: 2.25;
      }
    }

    &__lang {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 3.90625vw;

      &--item {
        font-size: 3.90625vw;
        line-height: 2.25;
      }

      &--item:last-child {
        margin-left: 8px !important;
      }

      &--item:first-child {
        margin-right: 8px !important;
      }
    }
  }
}

.toggle-button {
  display: none;
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;

  &.dropped svg {
    stroke: #000;
  }

  &.dropped {
    position: fixed;
  }

  @media (max-width: 1023px) {
    display: block;
    z-index: 110;
  }

  @media (min-width: 601px) and (max-width: 1023px) {
    width: 7.44vw;
  }

  @media (max-width: 600px) {
    width: 10.66667vw;
  }
}
