.generative-container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #fff;

  .generative-content {
    width: 73.856vw;
    margin-left: auto;
    margin-right: auto;
    color: #000;
  }
}
