.generative-section {
  width: 100%;
  margin: 0;
  background-color: #fff;
  padding-top: 4.1667vw;
  padding-bottom: 6.25vw;

  &__header {
    margin-right: auto;
    margin-left: 0;
    background-color: #000;
    color: #fff;
    width: 86.928vw;
    height: auto;
    padding-bottom: 1.0416667vw;
    padding-top: 2.6041667vw;
    text-transform: uppercase;

    &--caption {
      padding-right: 1.0416667vw;
      text-align: right;
      font-weight: bold;
      font-size: 2.0833vw;
      margin-left: auto;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__container {
    width: 73.856vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.08333vw;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;

    &__box {
      width: 19.0625vw;
      border: 5px solid #000;
      padding: 2.0833vw;
      box-sizing: content-box;
      
      &.hidden .generative-section__container__box--logo {
        div {
          transition: opacity 0.5s ease-in-out;
          opacity: 0;
        }
      }

      &--logo {
        width: 19.0625vw;
        height: 19.0625vw;
        background-color: #000;
        margin-right: 0;
        
        div {
          transition: opacity 0.5s ease-in-out;
          opacity: 1;
        }
      }

      &--divider {
        width: 100%;
        height: 5px;
        background-color: #000;
        margin-top: 40px;
        margin-bottom: 10px;
      }

      &--caption {
        width: 100%;
        text-align: left;
      }
    }

    &__content {
      width: 49vw;
      margin-left: 2.08333vw;

      &--text {
        height: 460px;
        overflow-y: auto;
        margin-bottom: 2.0833vw;  

        &::-webkit-scrollbar-thumb {
          background-color: #000;
          //outline: 1px solid slategrey;
        }

        &::-webkit-scrollbar {
          width: 1em;
          // border: 1px solid #fff;
        }

        &--intro {
          color: #000 !important;
          font-size: 0.9375vw;
          width: 98%;
        }

        &--quote {
          color: #000 !important;
          font-size: 0.7291vw;
          width: 98%;
        }

        &--paragraph {
          color: #000 !important;
          font-size: 0.7291vw;
          width: 98%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 10.66667vw;
    padding-bottom: 10.66667vw;

    &__header {
      width: 94.66667vw;
      padding-bottom: 2.6667vw;
      padding-top: 5.3333vw;

      &--caption {
        font-size: 5.3333vw;
        padding-right: 2.6667vw;
      }
    }

    &__container {
     width: 89.3333333vw;
     flex-direction: column;
     padding-top: 5.3333vw;

     &__box {
      width: 76vw;
      padding: 5.3333vw;
      margin-bottom: 5.3333vw;

      &--logo {
        width: 76vw;
        height: 76vw;
        background-color: #000;
        margin-right: 0;
        transition: visibility 0.5s ease-in-out;
      }
    }

     &__content {
      height: auto;
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

        &--text {
          margin-top: 10.667vw;
        }
      }
    }
  }

  @media (min-width: 601px) and (max-width: 1023px) {
    padding-top: 10.4166vw;
    padding-bottom: 10.4166vw;

    &__header {
      width: 94.66667vw;
      padding-bottom: 2.6667vw;
      padding-top: 5.3333vw;

      &--caption {
        font-size: 5.3333vw;
        padding-right: 2.6667vw;
      }
    }

    &__container {
      width: 100%;
      padding-left: 5.2083vw;
      padding-right: 5.2083vw;
      padding-top: 2.60416vw;
      box-sizing: border-box;
      margin-top: 0;

      &__box {
        padding: 2.60416vw;
        width: 29.036vw;

        &--logo {
          width: 29.036vw;
          height: 29.036vw;
        }
      }

      
     &__content {
      margin-left: 2.60416vw;
      width: 57.94324vw;
     }
    }
  }
}
