.information-section {
  padding-bottom: 6.25vw;
  padding-top: 6.25vw;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  &__wrapper {
    width: 73.856vw;
    margin-left: auto;
    margin-right: auto;

    .information-section__columns {
      display: flex;
      margin-top: 10.4106vw;

      &--item {
        width: 40.15625vw;
        flex: 48.5%;

        &:first-of-type {
          margin-right: 2.0833vw;
        }
      }
    }
  }

  .button-wrapper {
    max-height: 10.3141667vw;
  }

  .text-paragraph {
    margin-bottom: 1.041667vw;

    &:last-of-type {
      margin-bottom: 1.8vw !important;
    }
  }
}
