.information-section {
  width: 73.856vw;
  margin-bottom: 10.41667vw;
  margin-top: 10.41667vw;
  margin-left: auto;
  margin-right: auto;

  &__columns {
    display: flex;
    margin-top: 5.2053vw;

    &--item {
      width: 40.15625vw;
      flex: 48.5%;
  
      &:first-of-type {
        margin-right: 2.0833vw;
      }
    }
  }

 

  .text-paragraph {
    margin-bottom: 1.041667vw;

    &:last-of-type {
      margin-bottom: 1.8vw !important;
    }
  }
}
