.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  .modal-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__arrow {
      &-left,
      &-right {
        background-color: transparent;
        border: none;
        width: 2.34375vw;
        position: fixed;
        padding: 0;
      }

      &-left:hover,
      &-right:hover {
        cursor: pointer;
      }

      &-right {
        right: 2.0833vw;
      }

      &-left {
        left: 2.0833vw;
        transform: rotate(180deg);
      }
    }

    .modal-photo {
      max-width: 80vmin;
      max-height: 80vmin;
    }

    .modal-description {
      text-align: center;
      width: 70vmin;
      padding-top: 1.041667vw;
    }
  }

  .close-button {
    width: 2.01vw;
    height: 2.01vw;
    background-color: transparent;
    border: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 2.0833vw;
    right: 2.0833vw;
    stroke: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 600px) {
    .close-button {
      width: 10.6667vw;
      height: 10.6667vw;
      stroke: #fff;
      top: 5.333vw;
      right: 5.333vw;
    }

    .modal-content {
      &__arrow {
        &-left,
        &-right {
          width: 10.6667vw;
          bottom: 10vh;
        }
  
        &-right {
          right: 5.333vw;
        }
  
        &-left {
          left: 5.333vw;
          transform: rotate(180deg);
        }
      }

      .modal-description {
        position: fixed;
        bottom: 10vh;
        height: 8.00025vw;
        font-size: 18px;
        padding-top: 0;
      }

      .modal-photo {
        max-width: 90vmin;
        max-height: 90vmin;
      }
    }
  }
  
  @media (min-width: 601px) and (max-width: 1023px) {
    .close-button {
      width: 5.2083vw;
      height: 5.2083vw;
      stroke: #fff;
      top: 5.2083vw;
      right: 5.2083vw;
    }

    .modal-content {
      &__arrow {
        &-left,
        &-right {
          width: 5.2083vw;
          bottom: 10vh;
        }
  
        &-right {
          right: 5.2083vw;
        }
  
        &-left {
          left: 5.2083vw;
          transform: rotate(180deg);
        }
      }

      .modal-description {
        position: fixed;
        bottom: 10vh;
        height: auto;
        font-size: 18px;
        padding-top: 0;
      }

      .modal-photo {
        max-width: 90vmin;
        max-height: 90vmin;
      }
    }
  }
}
