.landing-section {
  width: 100%;
  height: 100vh;
  padding: 2.08333vw;
  box-sizing: border-box;

  &--wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .title {
    font-weight: bold;
    font-size: 2.08333vw;
  }

  &__navbar {
    top: 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &__logos {
      left: 0;
      margin-right: auto;
      height: 4.6875vw;
      flex-direction: row;
      display: flex;

      &--ms {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 4.6875vw;
        height: 4.6875vw;
        border: 2px solid #fff;

        &-wrapper {
          width: 3.125vw;
          height: 1.61458333vw;
        }
      }

      &--generative {
        width: 4.6875vw;
        height: 4.6875vw;
        background-color: #fff;
      }

      &--nav {
        font-size: 20px !important;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
    flex-direction: column;
    width: 100%;

    &--header {
      margin-bottom: 2.08333vw;
      text-transform: uppercase;

      &--title {
        display: block;
        font-size: 5.72916667vw;
        font-weight: bold;
        letter-spacing: 5px;
      }

      &--subtitle {
        display: block;
        font-size: 1.5625vw;
      }
    }

    &--image {
      width: 100%;
      height: 46.2962vh;
      object-fit: cover;
    }
  }

  
  @media (max-width: 425px) {
    padding: 5.3333vw;

    &__navbar {
      &__logos {
        height: 18.6666667vw;

        &--ms {
          width: 18.6666667vw;
          height: 18.6666667vw;

          &-wrapper {
            width: 12.2666vw;
            height: 6.3253vw;
          }
        }

        &--generative {
          width: 18.6666667vw;
          height: 18.6666667vw;
        }
      }

      &--nav {
        width: 14.667vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__content {
      &--image {
        width: 100%;
        height: 47.226vh;
        object-fit: cover;
      }

      &--header {
        margin-bottom: 5.3333vw;
  
        &--title {
          font-size: 9.3333vw;
          //letter-spacing: 5px;
        }
  
        &--subtitle {
          display: block;
          font-size: 4.8vw;
        }
      }
    }
  }
}
